:root {
    --nav-text: aliceblue;
}

body {
    margin: 0;
    background-color: #444;
}

header {
    background-color: #888;
    color: orange;
    justify-content: center;
    font-size: 40px;
    height: 10vh;
    padding: 5vh 0 0 1vh;
    font-family: sans-serif;
    font-weight: bolder;
}

nav {
    background-color: #72F;
    justify-content: center;
    display: flex;
    font-size: 25px;
    font-family: sans-serif;
}

nav ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav ul li {
    float: left;
    text-decoration: none;
    cursor: pointer;
}

nav ul li {
    /* Adding a color for active page as that page does not have a link on it */
    color: teal;
    font-weight: bolder;
}

nav ul li a {
    text-decoration: none;
    color: var(--nav-text);
}

nav ul li a:visited {
    text-decoration: none;
    color: var(--nav-text);
}


nav ul li:last-child::after {
    content: "";
}

nav ul li::after {
    content: " | ";
    white-space: pre;
    color: var(--nav-text);
}

article {
    margin: auto auto;
    display: flex;
    width: 75vw;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    font-size: 20px;
}

article section {
    width: 67.7vw;
}

article h2 {
    font-family: sans-serif;
    font-weight: bold;
}

.portfolio{
    display:block;
}

.right-text {
    float: right;
}

.left-float-pic {
    float: left;
    padding: 30px 30px 0 0;
    width:250px;
    height:350px;
}

.right-float-pic {
    float: right;
    padding: 30px 0 0 30px;
}

.left-inline-pic{
    display:inline;
    width: 68vw;
    height: 68vw;
}

.contact-info{
    text-decoration: underline;
    color:#72F;
    text-decoration-color: #72F;
    text-decoration-thickness: 5px;
    list-style: none;
    padding:0;
}

.contact-info a:visited{
    color:#72F;
    text-decoration-color: #72F;
}

@media screen and (width > 1450px) {
    header {
        font-size: 60px;
    }
    article h2{
        padding: 18px 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    }

    article {
        font-size: 40px;
    }

    .left-float-pic {
        width: 400px;
        height: 650px;
    }

    .right-float-pic {
        width: 500px;
        height: 500px;
    }
}

@media screen and (width < 900px) {
    header {
        font-size: 25px;
        background-color: #444;
    }

    nav ul li {
        font-size: 18px;
    }

    article {
        width: 100vw;
    }

    article section {
        width: 80vw;
    }

    .left-float-pic {
        width: 150px;
        height: 235px;
        padding: 30px 30px 15px 0;
    }

    .right-float-pic {
        width: 150px;
        height: 150px;
        padding: 30px 0 15px 30px;
    }
    .left-inline-pic{
        width:80vw;
        height:80vw;
    }
}