#root{
    --nav-text:lime;
}

body{
    background-color: #444;
}
header{
    background-color: #888;
    color:orange;
    justify-content: center;
    font-size: 40px;
}
nav{
    background-color: violet;
    justify-content: center;
    display:flex;
    font-size: 25px;
}

nav ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

nav ul li{
    float:left;
    text-decoration: none;
    cursor:pointer;
}

nav ul li{
    color:aliceblue;
}

nav ul li a{
    text-decoration: none;
    color:var(--nav-text);
}

nav ul li a:visited{
    text-decoration: none;
    color:var(--nav-text);
}


nav ul li:last-child::after{
    content:"";
}

nav ul li::after{
    content:" | ";
    white-space: pre;
}

article{
    position: absolute;
    left: 12.5vw;
    display:flex;
    width: 75vw;
    justify-content: center;
    background-color: #ccc;
}
article section{
    width:67.7vw;
}
